
<div class="container">
  <h4 class="col-xs-3 col-sm-2"><strong>經銷商-管理</strong></h4>
  <div class="row">
	<div class="col-sm-offset-0 col-xs-8 col-sm-9">
  <div id="imaginary_container"> 
          <div class="input-group stylish-input-group col-xs-12 col-sm-12">
            <input type="text" class="form-control"  placeholder="請輸入客戶名稱" >
<span class="input-group-addon">
          <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
            </span>
        </div>
      </div>
      </div>
  </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>經銷商</th>
            <th>業務</th>
            <th>區域</th>
            <th>案例</th>
            <th>訂單</th>
        </tr>
    </thead>
    <!-- 是一般 html 註解法 -->
    <tbody>
      <% @leads.each do |l| %>
        <tr>
            <td><%= l.customer %></td>
            <td><%= l.sales %></td>
            

            <td><%= l.area %></td>
            <td><%= l.opp %></td>
            <td><%= l.order %></td>
                   
            <td><%= link_to 'Show', l, class: 'btn btn-info'  %></td> 
            <td><%= link_to 'Edit', edit_lead_path(l), class:'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', l, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
        <tr>
      <% end %>
    </tbody>
</table>
            <%= link_to 'new', '/leads/new', class:"btn btn-info" %>
            <%= link_to 'List',leads_path, class: 'btn btn-primary' %>

<br>
             <%= paginate @leads %>
<br>


